<%- include('../parts/html-head') %>
  <%- include('../parts/navbar') %>
    <!-- <%- JSON.stringify(locals, null, 4) %> -->
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">新增資料</h5>
              <form name="form1" onsubmit="sendForm(event)">
                <div class="mb-3">
                  <label for="name" class="form-label">name</label>
                  <input type="text" class="form-control" id="name" name="name" />
                  <div class="form-text"></div>
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label">email</label>
                  <input type="text" class="form-control" id="email" name="email" />
                  <div class="form-text"></div>
                </div>
                <div class="mb-3">
                  <label for="mobile" class="form-label">mobile</label>
                  <input type="text" class="form-control" id="mobile" name="mobile" />
                  <div class="form-text"></div>
                </div>
                <div class="mb-3">
                  <label for="birthday" class="form-label">birthday</label>
                  <input type="date" class="form-control" id="birthday" name="birthday" />
                  <div class="form-text"></div>
                </div>
                <div class="mb-3">
                  <label for="address" class="form-label">address</label>
                  <textarea name="address" id="address" name="address" class="form-control" cols="30" rows="3"></textarea>
                  <div class="form-text"></div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('../parts/scripts') %>
      <script>
        function sendForm(e) {
          e.preventDefault();
          // TODO: 資料檢查

          const fd = new FormData(document.form1);
          const usp = new URLSearchParams(fd);
          const dataObj = Object.fromEntries(fd);

          fetch('',{
            method:"POST",
            body:fd, // 1. multipart/form-data, 後端需要middleware (upload.none())

            /*body:usp.toString(),// 2. application/x-www-form-urlencoded
            headers:{
              "Content-Type":"application/x-www-form-urlencoded",
            } */

            // body: JSON.stringify(dataObj), // 3. application/json
            // headers:{
            //   "Content-Type":"application/json",
            // }
          }).then((r)=>r.json())
          .then((data)=>{
            console.log(data);
          })
          .catch((ex)=>console.log(ex))
        }
      </script>
      <%- include('../parts/html-foot') %>