<%- include('../parts/html-head') %>
  <%- include('../parts/navbar') %>
    <!-- <%- JSON.stringify(locals, null, 4) %> -->

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">

        <div class="col">
          <form class="d-flex" role="search">
            <input class="form-control me-2" name="keyword" type="search" value="<%= qs.keyword ?? '' %>" placeholder="Search" aria-label="Search">
            <input type="date" name="startDate" class="form-control me-2" value="<%= qs.startDate%>">
            <input type="date" name="endDate" class="form-control me-2" value="<%= qs.endDate%>">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item <%= page===1 ? 'disabled' : '' %>">
                <a class="page-link" href="?page=1">
                  <i class="fa-solid fa-angles-left"></i>
                </a>
              </li>
              <li class="page-item <%= page===1 ? 'disabled' : '' %>">
                <a class="page-link" href="?page=<%= page -1 %>">
                  <i class="fa-solid fa-angle-left"></i>
                </a>
              </li>
              <% for(let i=page-5;i<=page+5;i++) if(i>=1 && i<= totalPages) { %>
                  <li class="page-item <%= i===page ? 'active' : '' %>"><a class="page-link" href="?<%= new URLSearchParams({...qs,page:i}).toString() %>">
                      <%=i%>
                    </a></li>
                  <% } %>
                    <li class="page-item <%= page===totalPages ? 'disabled' : '' %>">
                      <a class="page-link" href="?page=<%= page+1%>">
                        <i class="fa-solid fa-angle-right"></i>
                      </a>
                    </li>
                    <li class="page-item <%= page===totalPages ? 'disabled' : '' %>">
                      <a class="page-link" href="?page=<%=totalPages%>">
                        <i class="fa-solid fa-angles-right"></i>
                      </a>
                    </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th><i class="fa-solid fa-trash"></i></th>
                <th>編號</th>
                <th>姓名</th>
                <th>email</th>
                <th>手機</th>
                <th>生日</th>
                <th>地址</th>
                <th><i class="fa-solid fa-square-pen"></i></th>
              </tr>
            </thead>
            <tbody>
              <% for(let i of rows){ %>
                <tr>
                  <td>
                    <a href="javascript:" onclick="removeItem(event)" data-sid="<%= i.sid %>">
                      <i class="fa-solid fa-trash"></i>
                    </a>
                  </td>
                  <td>
                    <%= i.sid %>
                  </td>
                  <td>
                    <%= i.name %>
                  </td>
                  <td>
                    <%= i.email %>
                  </td>
                  <td>
                    <%= i.mobile %>
                  </td>
                  <td>
                    <%= toDateString(i.birthday) %>
                  </td>
                  <td>
                    <%= i.address %>
                  </td>
                  <td>
                    <a href="/address-book/edit/<%=i.sid %>"><i class="fa-solid fa-square-pen"></i></a>
                  </td>
                </tr>
                <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <%- include('../parts/scripts') %>
      <script>
        const removeItem = (e) => {
          e.preventDefault();
          const sid = e.currentTarget.getAttribute('data-sid');
          // TODO: 詢問用戶是否確定要刪除
          fetch(`/address-book/${sid}`, {
            method: "DELETE",
          })
            .then((r) => r.json())
            .then((data) => {
              console.log(data);
              if (data.success) {
                location.reload();
              }
            })
            .catch((ex) => console.log(ex));
        };


        const myModal = new bootstrap.Modal('#exampleModal', {
          keyboard: false
        })
      </script>
      <%- include('../parts/html-foot') %>